section {
    padding: 60px 0;
}

.user {
    width: 100%;
}
#error{
    background-color: rgb(221, 88, 88);
    align-items: center;
    justify-content:flex-start;
}
#imgerror{
    width: 1.5em;
    padding-left: 0.5em;
    filter: invert(100%);
}
.fila {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px; /* Ajusta el espacio entre filas según tus necesidades */
    flex-wrap: wrap;
    align-items: stretch;
}

.contenedorP {
    max-height: 16em;
    width: 15em;
    display: flex;
    flex-direction: column;

}
.producto{
    text-align: center;
    padding: 1em;
    background-color: #ffffff;
    flex-grow: 1;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrar horizontalmente */
  justify-content: center; /* Centrar verticalmente */
}
.nombre{
    margin-bottom: 0.3rem;
}

img {
    max-height: 7em;
}

body>#vender{
    background-color: #9ac2d3;
}

#vendedor{
    background-color: #223854;
    color: #ffffff;
}


