section {
    padding: 60px 0;
}

.user {
    width: 100%;
}
#error{
    background-color: rgb(221, 88, 88);
    align-items: center;
    justify-content:flex-start;
}
#imgerror{
    width: 1.5em;
    padding-left: 0.5em;
    
    filter: invert(100%);
}
.fila {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px; /* Ajusta el espacio entre filas según tus necesidades */
}

.contenedorP {
    max-height: 16em;
    width: 15em;
}
.producto{
    text-align: center;
    padding: 1em;
}
.nombre{
    margin-bottom: 0.3rem;
}

img {
    max-height: 7em;
}

body>#vender{
    background-color: rgb(230, 254, 255);
}

#vendedor{
    background-color: rgb(150, 189, 190);;
}
